@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/*RESET*/
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	text-align: justify;
}
/*MODIFICAÇÕES ESPECIAIS*/
.negrito{
	font-weight: 600;
}
.italico{
	font-style: italic;
}
.noBrackRow{
	margin-top: -3.5mm;
}
.width50 {
	text-align: justify;
	width: 50mm;
}
.height45 {
	height: 45px;
}
.asideSpaceForIcons{
	margin-left: 40px;
}
.noJustify{
	text-align: left;
}
.noMarginTop{
	margin-top: 0px !important;
}
/*CORPO DO CURRICULUM*/
body {
	margin: 0mm;
	width: 210mm;
	height: 297mm;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
article {
	padding: 10mm 10mm 10mm 10mm;
}
article p.espacoEmbaixo{
	margin-bottom: 44px;
}
article h1 {
	font-weight: 600;
	font-size: 34pt;
	margin-bottom: 40px;
}
article h2 {
	font-weight: 700;
	font-size: 13pt;
	padding-top: 15px;
	margin-left: 95mm;
	margin-top: 30px;
}
article h3{
	font-size: 12pt;
}
ul {
	margin-left: 74mm;
}
li {
	padding-left: 0px;
}
/*ÍCONES*/
article img {
	float: left;
}
article img#objetivo {
	margin-top: -10px;
}
article img#formacao{
	margin-top: 15px;
}
article img#trabalho{
	margin-top: -13px;
}
hr {
	border: 1px solid #000000;
	border-radius: 520px;
	position: relative;
	top: -3mm;
	right: -39px;
	width: 414px;
}
/*BARRA LATERAL*/
aside {
	margin-right: 10mm;
	padding: 15mm 10mm 10mm 10mm;
	background-color: #181717;
	float: left;
	width: 80mm;
	height: 297mm;
	display: block;
	color: #ffffff;
}
aside h1 {
	font-size: 12pt;
	font-weight: 700;
	border-bottom: 1px solid #ffffff;
	width: 70mm;
	height: 25px;
	margin-top: 40px;
}
aside h2 {
	font-weight: 600;
	margin-bottom: 0px;
}
aside p {
	font-weight: 300;
	margin-top: 0px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
a:hover{
	text-decoration: underline;
}
/*ÍCONES*/
i {
	float: left;
}
/*BARRA DE PROGRESSO*/
.progressbar {
  background-color: #ffffff;
}
.progressbar>div {
  background-color: #363636;
  height: 10px;
}
div.habilidades p{
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: left;
}
#hab1 {
	  width: 100%;
}
#hab2 {
	  width: 85%;
}
#hab3 {
	  width: 85%;
}
#hab4 {
	  width: 90%;
}
#hab5 {
	  width: 77%;
}
#hab6 {
	  width: 90%;
}