@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/*RESET*/
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	text-align: justify;
}
/*MODIFICAÇÕES ESPECIAIS*/
.negrito{
	font-weight: 600;
}
.italico{
	font-style: italic;
}
.noBrackRow{
	margin-top: -3.5mm;
}
.width50 {
	text-align: justify;
	width: 50mm;
}
.height45 {
	height: 45px;
}
.asideSpaceForIcons{
	margin-left: 40px;
}
.noJustify{
	text-align: left;
}
.noMarginTop{
	margin-top: 0px !important;
}
/*CORPO DO CURRICULUM*/
body {
	margin: 0mm;
	width: 210mm;
	height: 297mm;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
article {
	padding: 25mm 10mm 10mm 10mm;
}
article h1{
	font-weight: 700;
	font-size: 13pt;
	padding-top: 15px;
	margin-left: 95mm;
	margin-top: 15px;
}

article h2{
	font-size: 12pt;
	font-weight: 600;
}
article h3{
	font-weight: 600;
}
article h4{
	font-style: italic;
}
hr {
	border: 1px solid #000000;
	border-radius: 520px;
	position: relative;
	top: -3mm;
	right: -39px;
	width: 414px;
}
article img{
	float: left;
	margin-bottom: -15px;
	padding-bottom: -15px;
}
ul {
	margin-left: 74mm;
	margin-bottom: 30px;
}
li {
	padding-left: 0px;
}
img.certificate{
	float: right;
	margin-top: -45px;
}
img.certificateCursor{
	float: right;
	margin-top: -20px;
}
/*BARRA LATERAL*/
aside {
	margin-right: 10mm;
	padding: 15mm 10mm 10mm 10mm;
	background-color: #181717;
	float: left;
	width: 80mm;
	height: 297mm;
	display: block;
	color: #ffffff;
}
aside h1 {
	font-size: 12pt;
	font-weight: 700;
	border-bottom: 1px solid #ffffff;
	width: 70mm;
	height: 25px;
	margin-top: 40px;
}
aside h2 {
	font-weight: 600;
	margin-bottom: 0px;
}
aside p {
	font-weight: 300;
	margin-top: 0px;
}
/*ÍCONES*/
i {
	float: left;
}
.iconsAwards {
	display: flex;
	justify-content: center;
	margin-left: : 10px;
	margin-right: 10px;
}
div.iconsAwards img {
	margin: 10px;
}
.medals {
	margin: 0px 13px;
}
div#medalhasSubtitulos {
	display: flex;
	justify-content: center;
	margin: 10px;
}
div#medalhasSubtitulos p {
	margin: 0px 13px;
	text-align: center;
}
/*BARRA DE PROGRESSO*/
.progressbar {
  background-color: #181717;
  border:1px solid white;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
}
.progressbar>div {
  background-color: white;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 8px;
  color: #181717;
  text-align: center;
  font-weight: 600;
}
div.habilidades p{
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: left;
}
#ingles {
	  width: 35%;
}
#javaScript {
	  width: 35%;
}
#reactNative {
	width: 25%;
}
#git {
	width: 41%;
}
#office {
	  width: 88%;
}
#planilhas {
	  width: 90%;
}
#manutencao {
	  width: 65%;
}
li{
	text-align: left;
}